<nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Student portal</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" data-bind="css: { active: selectedMenuItem() == 'home-page' }">
          <a class="nav-link" href="#" data-bind="click: function(){setActiveMenuItem('home-page');}, clickEmit: {name: 'setContent', data: {name: 'home-page'}}">Main</a>
        </li>
        <li class="nav-item" data-bind="css: { active: selectedMenuItem() == 'apply-now' }">
          <a class="nav-link" href="#" data-bind="click: function(){setActiveMenuItem('apply-now');}, clickEmit: {name: 'setContent', data: {name: 'apply-now'}}">Apply now</a>
        </li>
      </ul>
    </div>
  </nav>