<div class="row">
  <div class="col-md-12">
    <div class="jumbotron mt-5 mb-5">
      <h1 class="display-4">Student Portal</h1>
      <p class="lead">
        The way it should be done.
      </p>
      <hr class="my-4" />
      <p>
        It uses asynchronously loaded knockout components using requirejs
      </p>
      <a
        class="btn btn-primary btn-lg"
        href="https://knockoutjs.com/documentation/amd-loading.html"
        role="button"
        target="_blank"
        >Learn more</a
      >
    </div>
  </div>
</div>